<!-- Example: index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/homePage.css"> 
  <style>
   
  </style>
  <title>Document</title>
</head>
<body>
  <div class="top">
    <img src="/images/pixel_mba_logo.png" class="topLogo" alt="">
    <span class="row">
      <p>Pixeles: 0</p>
      <button class="topButton">Buy Now</button>
      
    </span>
  </div>
  <div class="inludeText">
    <p>Help me finance my MBA at INSEAD. With a $10 contribution you will earn your spot on the internt forever and recive </p>
   <p>weekely updates from my future MBA journey (classes, experiences, etc). 
    <a href="#" class="myStory">My story</a>

    
  </p>
  <span class="row"><div class="greenSmallDiv"></div> <p>9,998 pixels left. $20 raised of $100,000 goal</p></span>
  <div class="containerEnclosed">
   
    <% for (let i = 1; i <= 1225; i++) { %>
      <a href=""> 
        <div class="container tooltip" id="<%= 'div' + i %>">
          <!-- <img src="/images/images.jpeg" class="containerImg" alt="">-->
          <div class="tooltip-text">Sign up to buy this pixel</div>
        </div>
      </a> 
      <script>
        // Define the displayDivNumber function for each div
        function displayDivNumber_<%= i %>() {
          alert(`Clicked div number: <%= i %>`);
          // You can customize the action here, such as displaying it in a specific area on the page
        }

        // Add an event listener to each div
        document.getElementById('<%= 'div' + i %>').addEventListener('click', displayDivNumber_<%= i %>);
      </script>
    <% } %>
  </div>
</div>
</body>
</html>
